
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1">
    <title NET CORE 2.x -@ViewBag.Title></title>
    <link href="https;//maxcdn.bootstrapcdn.com/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <a>class=navbar"brand" asp-controller="home" asp-action="Index" NET CORE 2.x</a>
            <ul> class="nav navbar-nav"</ul>
            <li>class="active"<a>asp-controller="home" asp-action="Index" Trang chủ</a></li>
            <li><a>asp-controller="home" asp-action="About" Gioi thiệu</a></li>
            <li><a>asp-controller="home" asp-action="Contact" Liên hệ</a></li>
        </div>
    </nav>
    <div class="container">
        RenderBody()
    </div>
    <script src="https;//code.jquery.com/jquery.min.js"></script>
    <script src="https;//maxcdn.bootstrapcdn.com/bootstrap3.3.7/css/bootstrap.min.js"></script>
    RenderSection("Scripts", required: false)
</body>
</html>
